@{
    ViewData["Title"] = "Home Page";
}

    <div style="width:70%; margin: auto">

        <center>
            <div class="row" style="position: relative">
                <div class="col-md-12">
                    <h2>Login Portal</h2>
                </div>
            </div>
        </center>

        <br />

        <div style="width: 60%; margin: auto;">
            <form action="/Home/Login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="@ViewBag.Username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <div>
                    <p>forgot your password? <a href="/Home/ForgotPassword">click here</a></p>
                </div>

                @if (!String.IsNullOrEmpty(ViewBag.Result))
                {
                    <br />
                    <div class="alert alert-danger" role="alert">@ViewBag.Result</div>
                }

            </form>

        </div>

    </div>
