@model SessionPuzzling.Models.User

@{
    ViewData["Title"] = "NewPassword";
}

<div style="width:70%; margin: auto">

    <center>
        <div class="row" style="position: relative">
            <div class="col-md-12">
                <h3><i class="fa fa-key fa-2x"></i></h3>
                <h2>@Model.Name, Please Reset Your Password</h2>
            </div>
        </div>
    </center>

    <br />

    <div style="width: 60%; margin: auto;">
        <form action="/Home/NewPassword" method="post">
            <div class="form-group">
                <label for="newpassword1">New Password</label>
                <input type="password" class="form-control" id="newpassword1" name="newpassword1" />
            </div>
            <div class="form-group">
                <label for="newpassword2">Confirm New Password</label>
                <input type="password" class="form-control" id="newpassword2" name="newpassword2" />
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>

            @if (!String.IsNullOrEmpty(ViewBag.Result))
            {
                <br />
                <br />
                <div class="alert alert-danger" role="alert">@ViewBag.Result</div>
            }

        </form>

    </div>

</div>




