@model SessionPuzzling.Models.User

@{
    ViewData["Title"] = "OneTimePassword";
}

<div style="width:70%; margin: auto">

    <center>
        <div class="row" style="position: relative">
            <div class="col-md-12">
                <h3><i class="fa fa-lock-open fa-2x"></i></h3>
                <h2>Enter the Token Sent to Your Phone</h2>
            </div>
        </div>
    </center>

    <br />

    <div style="width: 60%; margin: auto;">
        <form action="/Home/OneTimePassword" method="post">
            <div class="form-group">
                <label for="smsotp">SMS OTP</label>
                <input type="text" class="form-control" id="smsotp" name="smsotp"  data-toggle="tooltip" data-placement="right" title="@Model.LastOtpSent"/>
            </div>

            <button type="submit" class="btn btn-primary">Confirm SMS OTP</button>

            @if (!String.IsNullOrEmpty(ViewBag.Result))
            {
                <br />
                <br />
                <div class="alert alert-danger" role="alert">@ViewBag.Result</div>
            }

        </form>

    </div>

</div>




